<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="CovidAssist">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>Home</title>
  <link rel="stylesheet" href="CSS/nicepageG.css" media="screen">
  <link rel="stylesheet" href="CSS/guidelines.css" media="screen">
  <link rel="stylesheet" href="CSS/nicepage1.css" media="screen">
  <script class="u-script" type="text/javascript" src="JS/jqueryG.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="JS/nicepageG.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="JS/jquery1.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="JS/nicepage1.js" defer=""></script>


  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">

  <meta property="og:title" content="Home">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="/">
  <meta property="og:url" content="">
</head>

<style>
  .grid-guid {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . .";
  }
</style>

<body class="u-body">

  <header class="u-border-1 u-border-grey-10 u-clearfix u-header" id="sec-77eb">
    <div class="u-clearfix u-sheet u-sheet-1">
      <nav class="u-menu u-menu-1" data-responsive-from="LG" data-submenu-level="on-click">
        <div class="u-custom-menu u-nav-container">
          <ul class="u-custom-font u-font-montserrat u-nav u-spacing-0 u-unstyled u-nav-1">
            <li class="u-nav-item"><a
                class="u-active-palette-2-light-3 u-button-style u-hover-white u-nav-link u-radius-17 u-text-active-custom-color-5 u-text-hover-custom-color-5 u-white"
                href="/tracker" style="padding: 10px 20px;">COVID-19 Tracker</a>
            </li>
            <li class="u-nav-item"><a
                class="u-active-palette-2-light-3 u-button-style u-hover-white u-nav-link u-radius-17 u-text-active-custom-color-5 u-text-hover-custom-color-5 u-white"
                href="/guidelines" style="padding: 10px 20px;">COVID-19 Guidlines</a>
            </li>
            <li class="u-nav-item"><a
                class="u-active-palette-2-light-3 u-button-style u-hover-white u-nav-link u-radius-17 u-text-active-custom-color-5 u-text-hover-custom-color-5 u-white"
                href="/login" style="padding: 10px 20px;">Admin Section</a>
            </li>
          </ul>
        </div>

      </nav>
      <h1 class="u-custom-font u-font-montserrat u-text u-text-1">
        <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-1"
          href="/" data-page-id="46228991">CovidAssist</a>
      </h1>
    </div>
  </header>

  <!-- Masks -->
  <section class="u-align-center u-clearfix u-section-4" id="sec-d2f3">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <p class="u-custom-font u-font-montserrat u-text u-text-1">
        <span style="font-size: 3rem;">Guidelines for </span>
        <span style="font-weight: 700;" class="u-text-palette-1-base">Wearing a Mask</span>
      </p>
    </div>
  </section>

  <section class="u-clearfix u-section-5" id="sec-cb57">
    <div class="u-clearfix u-sheet u-sheet-1">

      <img class="u-expanded-width u-image u-image-round u-radius-16 u-image-1" src="CSS/images/Masks.png"
        data-image-width="1600" data-image-height="1131">

    </div>
  </section>
  <!-- Masks -->

  <!-- myths facts -->
  <section class="u-align-center u-clearfix u-section-6" id="sec-41f9">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-custom-font u-font-montserrat u-text u-text-1" style="color:rgb(238, 3, 3);">
        <span style="font-size: 3rem;">
          <span class="u-text-black">Covid-19 Vaccination</span>
          <span style="font-size: 3.75rem; font-weight: 700;"> Myths vs Facts</span>
        </span>
      </p>
    </div>
  </section>

  <section class="u-clearfix u-section-7" id="sec-695e">
    <div
      class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
      <div
        class="u-carousel u-carousel-duration-1000 u-expanded-width u-gallery u-layout-carousel u-lightbox u-no-transition u-show-text-none u-gallery-1"
        data-interval="4000" data-u-ride="carousel" id="carousel-c244">
        <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
          <li data-u-target="#carousel-c244" data-u-slide-to="0"
            class="u-active u-active-palette-2-base u-grey-25 u-shape-rectangle" style="width: 30px; height: 3px;">
          </li>
          <li data-u-target="#carousel-c244" data-u-slide-to="1"
            class="u-active-palette-2-base u-grey-25 u-shape-rectangle" style="width: 30px; height: 3px;"></li>
          <li data-u-target="#carousel-c244" data-u-slide-to="2"
            class="u-active-palette-2-base u-grey-25 u-shape-rectangle" style="width: 30px; height: 3px;"></li>
          <li data-u-target="#carousel-c244" data-u-slide-to="3"
            class="u-active-palette-2-base u-grey-25 u-shape-rectangle" style="width: 30px; height: 3px;"></li>
          <li data-u-target="#carousel-c244" data-u-slide-to="4"
            class="u-active-palette-2-base u-grey-25 u-shape-rectangle" style="width: 30px; height: 3px;"></li>
          <li data-u-target="#carousel-c244" data-u-slide-to="5"
            class="u-active-palette-2-base u-grey-25 u-shape-rectangle" style="width: 30px; height: 3px;"></li>
        </ol>
        <div class="u-carousel-inner u-gallery-inner" role="listbox">
          <div class="u-active u-carousel-item u-gallery-item u-carousel-item-1">
            <div class="u-back-slide" data-image-width="1920" data-image-height="1080">
              <img class="u-back-image u-expanded" src="CSS/images/1.png">
            </div>

          </div>
          <div class="u-carousel-item u-gallery-item u-carousel-item-2">
            <div class="u-back-slide" data-image-width="1920" data-image-height="1080">
              <img class="u-back-image u-expanded" src="CSS/images/3.png">
            </div>

          </div>
          <div class="u-carousel-item u-gallery-item u-carousel-item-3">
            <div class="u-back-slide" data-image-width="1920" data-image-height="1080">
              <img class="u-back-image u-expanded" src="CSS/images/2.png">
            </div>
          </div>
          <div class="u-carousel-item u-gallery-item u-carousel-item-4">
            <div class="u-back-slide" data-image-width="1920" data-image-height="1080">
              <img class="u-back-image u-expanded" src="CSS/images/4.png">
            </div>

          </div>
          <div class="u-carousel-item u-gallery-item u-carousel-item-5">
            <div class="u-back-slide" data-image-width="1920" data-image-height="1080">
              <img class="u-back-image u-expanded" src="CSS/images/5.png">
            </div>

          </div>
          <div class="u-carousel-item u-gallery-item u-carousel-item-6">
            <div class="u-back-slide" data-image-width="1920" data-image-height="1080">
              <img class="u-back-image u-expanded" src="CSS/images/6.png">
            </div>

          </div>
        </div>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-hidden u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1"
          href="#carousel-c244" role="button" data-u-slide="prev">
          <span aria-hidden="true">
            <svg viewBox="0 0 451.847 451.847">
              <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
            </svg>
          </span>
          <span class="sr-only">
            <svg viewBox="0 0 451.847 451.847">
              <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
            </svg>
          </span>
        </a>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-hidden u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2"
          href="#carousel-c244" role="button" data-u-slide="next">
          <span aria-hidden="true">
            <svg viewBox="0 0 451.846 451.847">
              <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
            </svg>
          </span>
          <span class="sr-only">
            <svg viewBox="0 0 451.846 451.847">
              <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
            </svg>
          </span>
        </a>
      </div>
      <p class="u-custom-font u-font-montserrat u-text u-text-1">Information source :&nbsp; Vogue.in</p>
    </div>
  </section>
  <!-- Myths facts -->

  <!-- qurantine -->
  <section class="u-align-center u-clearfix u-section-1" id="sec-44ef">
    <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
      <p class="u-align-center u-custom-font u-font-montserrat u-text u-text-custom-color-3 u-text-1"
        data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
        <span style="font-size: 3rem;" class="u-text-black">Guidelines for</span>
        <span style="font-weight: 700;">Self-Quarantine</span>&nbsp;
      </p>
    </div>
  </section>

  <section class="u-align-left u-clearfix u-hidden-lg u-hidden-md u-hidden-sm u-hidden-xs u-section-2" id="sec-d5f0">
    <div class="guid">
      <div></div>
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-expanded-width u-image u-image-round u-radius-16 u-image-1" src="CSS/images/EVERYDAY9AMto7PM.png"
          alt="" data-image-width="2245" data-image-height="1314">

      </div>
    </div>
  </section>

  <section class="u-clearfix u-hidden-md u-hidden-sm u-hidden-xl u-hidden-xs u-section-3" id="sec-e370">

    <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
      <img
        class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-round u-radius-21 u-image-1"
        src="CSS/images/EVERYDAY9AMto7PM.png" alt="" data-image-width="1600" data-image-height="936">
    </div>

  </section>
  <!-- Quarantine -->



  <footer class="u-align-center u-clearfix  u-footer"
    style="background-color: rgb(56, 56, 56); color: rgb(255, 255, 255);" id="sec-255b">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-custom-font u-font-montserrat u-text u-text-1">CovidAssist</h2>
      <p class="u-custom-font u-font-montserrat u-text u-text-2">Copyright © 2021 CovidAssist.co. | <span
          style="font-weight: 400;"></span>All rights reserved
      </p>
    </div>
  </footer>
</body>

</html>