<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="BEDASSIST">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>Admin Section</title>

  <!-- Style Sheets and Scripts -->
  <!-- <link rel="stylesheet" href="CSS/nicepage.css" media="screen"> -->
  <link rel="stylesheet" href="CSS/Sign-Up.css" media="screen">
  <link rel="stylesheet" href="CSS/Login.css" media="screen">
  <link rel="stylesheet" href="CSS/nicepage1.css" media="screen">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <script class="u-script" type="text/javascript" src="JS/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="JS/nicepage.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="JS/selection.js" defer=""></script>
  <style>
    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
    }

    .grid-container-h {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0px 12px;
      grid-template-areas:
        ". .";
    }

    .grid-container-v {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      gap: 12px 0px;
      grid-template-areas:
        "."
        "."
        "."
        "."
        "."
        ".";
    }
  </style>
  <!-- fonts -->
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">

</head>

<body class="u-body">

  <!-- Header -->
  <header class="u-border-1 u-border-grey-10 u-clearfix u-header" id="sec-77eb">
    <div class="u-clearfix u-sheet u-sheet-1">
      <nav class="u-menu u-menu-1" data-responsive-from="LG" data-submenu-level="on-click">
        <div class="u-custom-menu u-nav-container">
          <ul class="u-custom-font u-font-montserrat u-nav u-spacing-0 u-unstyled u-nav-1">
            <li class="u-nav-item"><a
                class="u-active-palette-2-light-3 u-button-style u-hover-white u-nav-link u-radius-17 u-text-active-custom-color-5 u-text-hover-custom-color-5 u-white"
                href="/login" style="padding: 10px 20px;">Login</a>
            </li>
            <li class="u-nav-item"><a
                class="u-active-palette-2-light-3 u-button-style u-hover-white u-nav-link u-radius-17 u-text-active-custom-color-5 u-text-hover-custom-color-5 u-white"
                href="/signup" style="padding: 10px 20px;">Sign Up</a>
            </li>
          </ul>
        </div>

      </nav>
      <h1 class="u-custom-font u-font-montserrat u-text u-text-1">
        <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-1"
          href="/" data-page-id="46228991">CovidAssist</a>
      </h1>
    </div>
  </header>


  <section class="u-clearfix u-white u-section-1" id="sec-56ff">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-custom-font u-font-montserrat u-text u-text-1">Sign Up</h1>
      <div class="u-align-center u-form u-form-1">
        <form action="/signup" method="POST" style="padding: 33px;" autocomplete="off" source="custom" name="form">

          <div class="grid-container-v">
            <div class="grid-container-h">
              <!--State-->
              <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-1">
                <div class="u-form-select-wrapper">
                  <select id="stateSel" name="select1"
                    class="u-border-1 u-border-grey-30 u-grey-5 u-input u-input-rectangle u-radius-18 u-input-1">
                    <option value="Select State">Select State</option>
                  </select>
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                    <path fill="currentColor" d="M4 8L0 4h8z"></path>
                  </svg>
                </div>
              </div>

              <!-- District -->
              <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-2">
                <label for="select-20af"
                  class="u-custom-font u-font-montserrat u-form-control-hidden u-label u-label-2">Select</label>
                <div class="u-form-select-wrapper">
                  <select id="districtSel" name="select2"
                    class="u-border-1 u-border-grey-30 u-grey-5 u-input u-input-rectangle u-radius-18 u-input-2">
                    <option value="Select City/Town">Select District</option>
                  </select>
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                    <path fill="currentColor" d="M4 8L0 4h8z"></path>
                  </svg>
                </div>
              </div>
            </div>

            <!-- Hospital Name -->
            <div class="u-form-group u-form-name u-form-group-3">
              <input type="text" placeholder="Hospital Name" id="hosname" name="hospitalName"
                class="u-border-1 u-border-grey-30 u-grey-5 u-input u-input-rectangle u-radius-18 u-input-3"
                required="">
            </div>

            <!-- Hospital ID -->
            <div class="u-form-group u-form-group-4">
              <input type="text" placeholder="Hospital ID" id="hosid" name="username"
                class="u-border-1 u-border-grey-30 u-grey-5 u-input u-input-rectangle u-radius-18 u-input-4"
                required="required">
            </div>

            <!-- Hospital Contact -->
            <div class="u-form-group u-form-group-5">
              <input type="text" min="0" size="12" maxlength="12" placeholder="Contact Number" id="hoscon"
                name="contactno"
                class="u-border-1 u-border-grey-30 u-grey-5 u-input u-input-rectangle u-radius-18 u-input-4"
                required="required">
            </div>



            <!-- Address -->
            <div class="u-form-group u-form-group-6">
              <input type="textarea" id="Address" name="address" max="40"
                class="u-border-1 u-border-grey-30 u-grey-5 u-input u-input-rectangle u-radius-18 u-input-5"
                required="required" placeholder="Address">
            </div>
            <!-- PinCode -->
            <div class="u-form-group u-form-group-5">
              <input type="number" min="0" size="12" maxlength="12" placeholder="Pincode" id="pincode" name="pincode"
                class="u-border-1 u-border-grey-30 u-grey-5 u-input u-input-rectangle u-radius-18 u-input-4"
                required="required">
            </div>



            <!-- Password -->
            <div class="u-form-group u-form-group-7">
              <input type="password" id="password" name="password"
                class="u-border-1 u-border-grey-30 u-grey-5 u-input u-input-rectangle u-radius-18 u-input-5"
                required="required" placeholder="Password">
            </div>
          </div>

          <div class="u-align-center u-form-group u-form-submit">
            <a href="#"
              class="u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-custom-font u-font-montserrat u-hover-custom-color-2 u-radius-22 u-btn-1">Sign
              Up</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>


          <div class="u-form-send-message u-form-send-success"> Thank you! Your hospital will be registered on our
            portal after manual verification. </div>
          <div class="u-form-send-error u-form-send-message"> Error </div>
          <input type="hidden" value="" name="recaptchaResponse">

        </form>
      </div>
    </div>
  </section>

  <footer class="u-align-center u-clearfix  u-footer"
    style="background-color: rgb(56, 56, 56); color: rgb(255, 255, 255);" id="sec-255b">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-custom-font u-font-montserrat u-text u-text-1">CovidAssist</h2>
      <p class="u-custom-font u-font-montserrat u-text u-text-2">Copyright © 2021 CovidAssist.co. | <span
          style="font-weight: 400;"></span>All rights reserved
      </p>
    </div>
  </footer>

</body>

</html>